/**
 * COLORS
 */
$main-color: #3c3c3c;
$accent-color: #f9c910;
$light-background-color: #ebebeb;



/**
 * TIME
 */
$transition-time: 0.2s; 



/**
 * SIZE
 */
$containers: 70, 85, 90;



/**
 * ICONS
 */
$steps-icons: hands, arrow, glasses, courier;