{% extends "base.html" %}
<!DOCTYPE html>
  <body>
  {% block content %}
    <section class="login-page">
      <h2>Zaloguj się</h2>
      <form action="" method="POST">
        {% csrf_token %}
        <div class="form-group">
          <input type="email" name="email" placeholder="Email" />
        </div>
        <div class="form-group">
          <input type="password" name="password" placeholder="Hasło" />
          <a href="#" class="btn btn--small btn--without-border reset-password">Przypomnij hasło</a>
        </div>

        <div class="form-group form-group--buttons">
          <a href="/register" class="btn btn--without-border">Załóż konto</a>
          <button class="btn" type="submit">Zaloguj się</button> 
        </div>
      </form>
    </section>
  {% endblock %}
  </body>
</html>
